<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <title>Responsive Web Design Example</title>
</head>
<body>
    <header>
        <div class="flex-container">
            <nav id="nv">
                <button id="menu-button" aria-label="Toggle navigation menu">☰</button>
                <div class="logo-container">
                    <img id="logo" src="images/logo.jpeg" alt="Company Logo" />
                    <h2 id="company-name">heffL</h2>
                </div>
            </nav>
            <nav id="nvr">
                <div class="contacts-container">
                    <button id="contact-us">Contact Us</button>
                    <button id="help-and-support">Help and Support</button>
                </div>
            </nav>
        </div>
        <h1 id="headtext">Making the <br>change</h1>
        <h3 id="browse">Browse our <br>products <br>below</h3>
    </header>

  
    <div class="products-container">
        <nav id="products">
            <button id="learn">Learn with us</button>
            <button id="development">Development environments</button>
            <button id="cloud">Cloud solutions</button>
        </nav>
  <!-- Right-side half-pyramid grid -->
  <div class="right-grid"></div>

  <script src="script.js"></script>
</body>
</html>
